@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #eb4263;
  --black: #333;
  --white: #fff;
  --text-color: #161823;
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: #1a1919;
  text-decoration: none;
}
