.wrapper {
  --border: 1px solid red;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  // border: 1px solid red;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  display: flex;
  width: 360px;
  height: 46px;
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  border: 1px solid transparent;
  // border: var(--border);
  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.8);
  }
  &::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 52px;
    width: 1px;
    height: 28px;
    background-color: rgba(16, 17, 22, 0.15);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  padding: 4px 12px;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(16, 17, 22, 0.5);
}

.clear,
.loading {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
//Action
.action {
  display: flex;
  align-items: center;
}
.action-btn {
  background-color: transparent;
  font-size: 2.4rem;
  // padding: 4px 15px;
  margin-right: 20px;
  cursor: pointer;
}

// .custom-login {
//   color: red;
//   background-color: aqua;
// }
.more-btn {
  font-size: 2rem;
  margin-left: 25px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

// menu
.menu-items {
  width: 240px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  // object-fit: cover;
  border-radius: 50%;
  // margin-left: 12px;
  cursor: pointer;
}
